// global classes
button,button:focus{
    outline: none!important;
    box-shadow: none!important;
}
a{
    text-decoration: none;
}
.banner-image{
    max-width:1500px;
    max-height:635px;
    width: auto;
    height: auto;
}
